<%- include("../partials/header") %>

<div class="container" style="color:white;">
    <form action="/user/guild/building" method="post" class="text-justify" id="buildform" onSubmit="javascript:return window.confirm('確認提交嗎？')">
        <div class="form-group">
            <h1 class="font-weight-bold">建立戰隊頁面</h1>
            <label>請建立你的戰隊名稱，創立後就不能加入任何戰隊囉!!!</label>
            <input type="text" class="form-control" name='guild_name' required style="width:200px">
            <p></p>
            <label>請設定戰隊邀請碼，要邀情對方加入時再傳給對方</label>
            <input type="text" class="form-control" name='invite_code' required style="width:200px">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
</div>

<%- include("../partials/footer") %>